// color
$color1:#F3E4BF; //#F3E4BF
$color2:#215732; //#215732
$color3:#16A27D; //#16A27D
$color4:#FEE2CC; //#FEE2CC
$color5:#EFF3F0; //#EFF3F0
$color6:#F3D285; //#F3D285
$color7:#CE7145; //#CE7145





// font-size
$fontSizePc1:225px;
$fontSizePc2:72px;
$fontSizePc3:50px;
$fontSizePc4:36px;
$fontSizePc5:24px;
$fontSizePc6:21px;
$fontSizePc7:18px;
